@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf')
        format('truetype');
    font-weight: 100 200 300 400 500 600 700 800 900;
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4121e9; /* Tailwind's primary blue-500 */
    border-color: #4121e9;
  }
  
  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: white; /* check mark */
  }